@import url("https://fonts.googleapis.com/css?family=Jomolhari|Roboto&display=swap");

body{

    font-family: "Jomolhari", sans-serif;
    background: #009BC4;
    text-align: center;

}
.wrapper{
    width: 100%;
    padding: 20%;
    box-sizing: border-box;
}

.circle{
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 68px auto;
    background: blue;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: ease 1s;

}
.circle:hover{
    background: salmon;
    transform: rotate(360deg);
}

.circle2{
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 68px auto;
    background: green;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: ease-in 1s;
}

.circle2:hover{
    background: salmon;
    transform: rotate(360deg)
}

.circle3{
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 68px auto;
    background:red;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: ease-out 1s;
}

.circle3:hover{
    background: salmon;
    transform: rotate(360deg)

}
.circle4{
    width: 150px;
    padding: 50px 0;
    line-height: 0;
    margin: 68px auto;
    background:brown;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: ease-out 1s;
}

.circle4:hover{
    background: rgb(47, 80, 172);
    width: 300px;
    height: 300px;
}
.square{
    width: 100px;
    height: 100px;
    
    margin: 68px auto;
    background:rgb(155, 45, 91);
    color: white;
    
    cursor: pointer;
    transition: ease-out 1s;
}

.square:hover {
    background: coral;
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
  }